{% extends "lightning/base.html" %}

{% block banner %}Log in{% endblock %}

{% block body %}

{% load crispy_forms_tags %}

<div class="container-sm">
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">

                    <h2>Log In</h2>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button type="submit" class="btn btn-success">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}